body {
  background-color: #222;
  text-align: center;
  margin-top: 150px;
  font-family: Arial;
}

.title {
  color: #00ffcc;
  font-size: 48px;
}

.text {
  color: #ffffff;
  font-size: 22px;
}
.sri {
    color: chartreuse;

}